In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

In [2]:
data = pd.read_csv('data/csv')

In [3]:
def convert(x):
    year, week = x.split('-')
    year = (int(year) - 2020) * 54
    return year + int(week)

In [7]:
data['week'] = data.year_week.apply(lambda x:convert(x))

In [8]:
data.head()

,country,country_code,continent,population,indicator,weekly_count,year_week,rate_14_day,cumulative_count,source,week
0,Afghanistan,AFG,Asia,38928341,cases,0,2020-01,NaN,0,"Epidemic intelligence, national weekly data",1
1,Afghanistan,AFG,Asia,38928341,cases,0,2020-02,0.0,0,"Epidemic intelligence, national weekly data",2
2,Afghanistan,AFG,Asia,38928341,cases,0,2020-03,0.0,0,"Epidemic intelligence, national weekly data",3
3,Afghanistan,AFG,Asia,38928341,cases,0,2020-04,0.0,0,"Epidemic intelligence, national weekly data",4
4,Afghanistan,AFG,Asia,38928341,cases,0,2020-05,0.0,0,"Epidemic intelligence, national weekly data",5

In [9]:
hun = data[data.country == 'Hungary']

In [15]:
fig = px.line(data_frame=hun, x ='week', y='cumulative_count', color='indicator')

In [18]:
f = go.FigureWidget(fig)

In [27]:
f.data[1]["y"]

array([    0,     1,     7,    15,    38,   109,   199,   280,   351,
         421,   462,   491,   526,   542,   563,   572,   581,   589,
         595,   596,   596,   597,   602,   608,   613,   614,   624,
         637,   686,   749,   833,   968,  1173,  1472,  1889,  2493,
        3190,  3891,  4823,  5984,  7130,  8282,  9161,  9977, 10725,
       11409, 12024, 12578, 13155, 13752, 14347, 15058, 15988, 17083,
       18451, 20161, 21928])